@model dreamstarter_web.Models.ViewModels.LikeCampaignViewModel
@{
    var likes = Model;
}


<form>
<button class="btn btn-info btn-md" style="margin-top:1%;" type="submit">
                    <span class="glyphicon glyphicon-thumbs-up"></span>Like</a>
</form>

