@model dreamstarter_web.Models.Entities.User;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" asp-href-include="~/css/*.css" />
        </environment>
    </head>  
  
    <div class="container">

      <form class="well form-horizontal" action="/Account/Signup" method="post"  id="signup_form">
        <fieldset>

          <!-- Form Name -->
          <legend><center><h2><b>Registration Form</b></h2></center></legend><br>

          <dev asp-validation-summary="All" class="danger">
            <!-- Name -->

            <div class="form-group">
              <label class="col-md-4 control-label" asp-for="Name"></label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input  asp-for="Name" placeholder="Name" class="form-control"  type="text">
                <span asp-validation-for="Name" class ="text-danger"></span>
                </div>
              </div>
            </div>

            <!-- Surname -->

            <div class="form-group">
                <label class="col-md-4 control-label" asp-for="Surname"></label> 
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input asp-for="Surname"  placeholder="Surname" class="form-control"  type="text">
                  <span asp-validation-for="Surname" class ="text-danger"></span>
                </div>
              </div>
            </div>

            <!-- Town -->

            <div class="form-group">
                <label class="col-md-4 control-label" asp-for="Town"></label> 
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input asp-for="Town"  placeholder="Town" class="form-control"  type="text">
                  <span asp-validation-for="Town" class ="text-danger"></span>
                </div>
              </div>
            </div>

            <!-- Post Code-->

            <div class="form-group">
                <label class="col-md-4 control-label" asp-for="Postcode"></label> 
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input asp-for="Postcode"  placeholder="Post Code" class="form-control"  type="text">
                  <span asp-validation-for="Postcode" class ="text-danger"></span>
                </div>
              </div>
            </div>


            <!-- Street -->

            <div class="form-group">
                <label class="col-md-4 control-label" asp-for="Street" ></label> 
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input asp-for="Street" name="street" placeholder="Street" class="form-control"  type="text">
                  <span asp-validation-for="Street" class ="text-danger"></span>
                </div>
              </div>
            </div>

            <!-- StreetNr-->

            <div class="form-group">
                <label class="col-md-4 control-label" asp-for="StreetNr" ></label> 
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input asp-for="StreetNr"  placeholder="Street Number" class="form-control"  type="text">
                  <span asp-validation-for="StreetNr" class ="text-danger"></span>
                </div>
              </div>
            </div>

            <!-- Mobile-->
                  
            <div class="form-group">
              <label class="col-md-4 control-label" asp-for="Mobile" ></label>  
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input asp-for="Mobile" name="mobile" placeholder="Mobile" class="form-control" type="text">
              <span asp-validation-for="Mobile" class ="text-danger"></span>
                </div>
              </div>
            </div>


              
            <!-- Email-->
            <div class="form-group">
              <label class="col-md-4 control-label" asp-for="Email" ></label>  
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input asp-for="Email" name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                    <span asp-validation-for="Email" class ="text-danger"></span>
                </div>
              </div>
            </div>

            <!-- Password-->

            <div class="form-group">
                <label class="col-md-4 control-label" asp-for="Password"></label> 
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input asp-for="Password" placeholder="Password" class="form-control"  type="password">
                  <span asp-validation-for="Password" class ="text-danger"></span>
                </div>
              </div>
            </div>

            <!-- Confirm Password

            <div class="form-group">
              <label class="col-md-4 control-label" >Confirm Password</label> 
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input name="confirm_password" placeholder="Confirm Password" class="form-control"  type="password">
                </div>
              </div>
            </div> -->


            <!-- Select Basic -->

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4"><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
              </div>
            </div>
          </dev>
        </fieldset>
      </form>
      
    </div><!-- /.container -->