@model dreamstarter_web.Models.ViewModels.NewCampaignViewModel;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" asp-href-include="~/css/*.css" />
        </environment>

        <style>
            .form-group{
                margin-top: 2em;    
            }
            
        </style>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
        </script>

    </head>  
    
  <body>

        <div class="container">
            <form class="well" asp-controller="Campaign" asp-action="NewCampaign" method="post"
                enctype="multipart/form-data" class="input-group">
            <fieldset>

                <legend><center><h2><b>New Campaign</b></h2></center></legend><br>
                
                <dev asp-validation-summary="All" class="danger">           
                
                    <!-- Campaign's Title -->

                    <div class="row form-group">
                        <div class="col-md-4 input-GroupContainer">
                            <label class="control-label" asp-for="Title"></label>
                                <input  asp-for="Title" placeholder="Campaign's Title" class="form-control"  type="text">
                                <span asp-validation-for="Title" class ="text-danger"></span>
                         
                        </div>

                    <!-- Campaign's Theme Image -->

                         <div class="col-md-3 inputGroupContainer">
                                 <label class="control-label">Upload Campaign's Theme Image</label>
                                <input type="file" asp-for="PhotoFile"/>
                                <span asp-validation-for="PhotoFile" class ="text-danger"></span>
                        </div>

                <!-- Campaign's EndDate -->
                        <div class="col-md-4 input-GroupContainer absolute">
                            <label class="control-label" asp-for="EndDate">Please Choose Campaign's Final Date</label>
                            <input asp-for="EndDate" class="form-control absolute" type="text" id="datepicker" >
                            <span asp-validation-for="EndDate" class ="text-danger"></span>
                        </div>

                        <div class="col-md-4 input-GroupContainer" style="margin-top:2%;">
                            <label class="control-label" asp-for="AmountRequired"></label>
                                <input  asp-for="AmountRequired" placeholder="How much DKK would You like to collect" class="form-control"  type="text">
                                <span asp-validation-for="AmountRequired" class ="text-danger"></span>
                         
                        </div>
                
                       
                    </div>

                    

                    <!-- Synopsis -->

                    <div class="form-group">             
                        <label class="control-label" asp-for="Synopsis"></label> 
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon">Text</span>
                                <textarea asp-for="Synopsis" Placeholder="Say in short what Your Campaign is all about" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Synopsis" class ="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Campaign's Details-->

                    <div class="form-group">
                        <label class="control-label" asp-for="DetailDescription">Detail Campaign Description</label> 
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon">Text</span>
                                <textarea asp-for="DetailDescription"  placeholder="Detail Campaign's Description" class="form-control" rows="30"></textarea>
                                <span asp-validation-for="DetailDescription" class ="text-danger"></span>
                            </div>
                        </div>
                    </div>
        

                    <!-- Button -->
                    <div class="form-group">
                    <label class="control-label"></label>
                    <div>
                        <button type="submit" class="btn btn-warning" >SUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                    </div>
                </dev>
            </fieldset>
            </form>
            
            </div><!-- /.container -->
    </body>
</html>